.net {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
    margin-top: 3%;
    margin-left: 22px;
}

.date-item {
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #bababa;
    cursor: pointer;
    border: 3px solid transparent;
    box-sizing: border-box;
}

.days-names-item {
    color: #da325b;
    cursor: default;
}

.current-date {
    border: 3px solid #da325b;
    border-radius: 50%;
    color: #da325b;
}